!.env.example
.DS_Store
.env
.env.*
.idea/
.pnpm-debug.log
.svelte-kit
.test-tmp
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
/package
build/bin
documentation/types.js
frontend/.svelte-kit
frontend/build
frontend/dist
go.work
node_modules
package-lock.json
packages/create-svelte/template/CHANGELOG.md
packages/package/test/**/package
symlink-from
test-results/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn.lock